:root {
  --primary: 15, 23, 42;
  --secondary: 30, 41, 59;
  --text: 203, 213, 225;
  --gray: 229, 231, 235;
  --mark: 248, 191, 166;
}

#root {
  background: rgba(var(--primary));
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

img {
  max-width: 100%;
}
