.footer {
  border-top: 2px dashed rgba(var(--border), 0.3);
  margin-top: 30px;
  color: rgba(var(--text), 1);
  padding-top: 10px;
  span {
    color: rgba(var(--border), 1);
    font-weight: 700;
  }
}
