.heading {
  color: rgba(var(--text), 1);
  font-size: 25px;
  text-align: center;
  margin: 10px 0;
  font-weight: 600;
}

.secretKey {
  ul {
    height: 329px;
    z-index: 1;
    position: relative;
    transition: 0.2s ease-in-out;
    opacity: 0;
    li {
      display: flex;
      margin-bottom: 7px;
      color: rgba(var(--text), 1);
      border-radius: 10px;
      overflow: hidden;
      .keyName {
        width: 180px;
        display: inline-block;
        padding: 5px 15px;
        background: rgba(var(--primary), 0.5);
        transition: 0.1s ease-in-out;
        font-weight: 600;
      }
      .key {
        width: 100%;
        padding: 5px 15px;
        background: rgba(var(--primary), 0.6);
        transition: 0.1s ease-in-out;
        overflow-x: auto;
        opacity: 0.8;

        img {
          width: 19px;
          height: 19px;
          display: inline-block;
          opacity: 1 !important;
        }
      }

      &:hover .keyName,
      &:hover .key {
        background: rgba(var(--primary), 0.7);
        cursor: pointer;
      }
    }
  }
}

.button {
  color: rgba(var(--text), 1);
  padding: 5px 15px;
  border-radius: 15px;
  border: 1px solid rgba(var(--border), 0.4);
  transition: 0.1s ease-in-out;
  display: block;
  margin: 10px auto;
  &:hover {
    background: rgba(var(--primary), 0.7);
  }
}
