.secretKey {
  background: rgba(var(--secondary), 1);
  outline: 1px solid rgba(var(--mark), 1);
  width: 830px;
  max-width: 100%;
  min-height: 435px;
  border-radius: 10px;
  overflow-x: auto;

  .header {
    background: rgba(var(--primary), 1);
    height: 50px;
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      color: rgba(var(--mark), 1);
      font-weight: 700;
      font-size: 20px;
    }
    ul.link {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        margin: 0 3px;
        a {
          width: 50px;
          font-size: 24px;
          color: #e0e0e0;

          img {
            width: 30px;
          }
        }
      }
    }
  }

  .table {
    width: 100%;
    color: rgba(var(--text), 0.8);

    .tableHeader {
      th {
        padding: 5px 0;
      }
    }

    &,
    .keyName,
    .key,
    .keyLength {
      border: 1px solid rgba(var(--mark), 1);
      padding: 5px 10px;
      transition: 0.1s ease-in-out;
    }

    .keyName {
      width: 140px;
    }
    .key {
      .loading {
        width: 20px;
        margin: 0 auto;
      }
    }

    .keyLength {
      text-align: center;
      width: 70px;
    }

    tr:hover .keyName,
    tr:hover .key {
      background: rgba(var(--primary), 0.5);
    }
  }
}

.initialLoader {
  margin: 30px auto;
  width: 100px;
}

.button {
  color: rgba(var(--text), 1);
  padding: 5px 15px;
  border-radius: 10px;
  border: 1px solid rgba(var(--gray), 0.4);
  transition: 0.1s ease-in-out;
  display: block;
  margin: 15px auto;

  &:hover {
    background: rgba(var(--primary), 0.7);
  }
}

.error {
  color: yellow;
}

.keyLength {
  img {
    width: 20px;
    margin: 0 auto;
  }
}
